micro-services/main/node_modules
micro-services/service1/node_modules
micro-services/service2/node_modules
micro-services/service3/node_modules
cv-be/node_modules
react-app/node_modules
test-node-app/node_modules